# Ignore data text formats
*.csv
*.tsv
*.txt
*.gmt
*.gz
*.zip
*.png
*.jpg
*.jpeg
*.pdf
*.html
*.venv
# (add uppercase variants if needed)
*.[Cc][Ss][Vv]
*.[Tt][Ss][Vv]
*.[Tt][Xx][Tt]
*.[Gg][Mm][Tt]
*.[Gg][Zz]
*.[Zz][Ii][Pp]
*.[Pp][Nn][Gg]
*.[Jj][Pp][Gg]
*.[Jj][Pp][Ee][Gg]
*.[Pp][Dd][Ff]
*.[Hh][Tt][Mm][Ll]
# Ignore a specific directory
/data/*
!/data/.gitkeep
